<configuration>
  <connectionStrings>
    <!-- Connection string using Windows Authentication (Integrated Security) -->
    <add name="RBSMaintainer_WSS_Content" connectionString="Server=vm-sql01-dev;Database=WSS_Content;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="RBSMaintainer_WSS_Content_NewSite" connectionString="Server=vm-sql01-dev;Database=WSS_Content_NewSite;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="RBSMaintainer_WSS_Content_Admin" connectionString="Server=vm-sql01-dev;Database=WSS_Content_Admin;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <RemoteBlobStorage>
    <Logging>
      <add key="ConsoleLog" value="0" />
    </Logging>
  </RemoteBlobStorage>
</configuration>